# Ambiente virtual
venv/
env/

# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dados que não devem ir para o repositório
dados_brutos/